apiVersion: "v1"
kind: "LimitRange"
metadata:
  name: {{ PROJECT_NAME }}-limitrange
  namespace: {{ PROJECT_NAME }}
spec:
  limits:
    - type: "Container"
      defaultRequest:
        cpu: "100m"
        memory: "100Mi"
