kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-same-namespace
  namespace: {{ PROJECT_NAME }}
  annotations:
    epic-osc.mitre.org/description: Allow network traffic between pods in this project.
spec:
  podSelector: {}
  ingress:
    - from:
        - podSelector: {}
  policyTypes:
    - Ingress
